<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Trang chính</h1>
  <p>Chào mừng đến với demo upload ảnh.</p>
  <ul>
    <li><a href="/upload-single">Upload 1 ảnh</a></li>
    <li><a href="/upload-multi">Upload nhiều ảnh</a></li>
  </ul>
</body>
</html>